@import "variables"

// RESET
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Roboto", Arial, sans-serif
    color: inherit
    font-size: inherit

body
    font-size: 16px
    color: $dark-color

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px white inset !important
    -webkit-text-fill-color: $dark-color !important


// MODULES
@import "Form"
@import "App"

